# Python caches
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.venv
venv/
ENV/

# Database files (we only want schemas and ETL code in GitHub)
data/ecommerce.db

# Log files
*.log

# Visual Studio Code / IDE settings
.vscode/
.idea/
